<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Online Judge</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{active: locationEqual('/')}"><a href="/">Home</a></li>
      <li ng-class="{active: locationEqual('/problems')}"><a href="/problems">Practice Problems</a></li>
      <li ng-class="{active: locationEqual('/contests', ['', 'leaderboard', 'register'])}" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contests <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/contests/">Contest Homepage</a></li>
          <li><a href="/contests/leaderboard">Leaderboard</a></li>
          <li><a href="/contests/register">Registration</a></li>
          <!-- <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li> -->
        </ul>
      </li>
      <li ng-class="{active: locationEqual('/faq')}"><a href="/faq">FAQ</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav">
      <li ng-class="{active: locationEqual('/')}"><a href="#!/">Home</a></li>
      <li ng-class="{active: locationEqual('/problems')}"><a href="#!/problems">Practice Problems</a></li>
      <li ng-class="{active: locationEqual('/contests', ['', 'leaderboard', 'register'])}" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contests <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#!/contests/">Contest Homepage</a></li>
          <li><a href="#!/contests/leaderboard">Leaderboard</a></li>
          <li><a href="#!/contests/register">Registration</a></li>
          <!-- <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li ng-class="{active: locationEqual('/faq')}"><a href="#!/faq">FAQ</a></li>
    </ul> -->
    <div class="navbar-right navbar-form" role="form" data-ng-hide="global.authenticated">
      <div class="form-group">
        <input type="text" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control">
      </div>
      <button ng-click="" class="btn btn-info">Login</button>
      <!-- <button ng-click="" class="btn btn-info">Sign in</button> -->
      <a href="/signup"><button ng-click="" class="btn btn-success">Sign up</button></a>
    </div>
    <div class="navbar-right" data-ng-show="global.authenticated">
      <form class="navbar-form" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      <button type="submit" class="btn btn-success">Sign up</button>
    </div>
  </div><!--/.navbar-collapse -->
</div>