<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Online Judge</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{active: locationEqual('/')}"><a href="/">Home</a></li>
      <li ng-class="{active: locationEqual('/problems')}"><a href="/problems">Practice Problems</a></li>
      <li ng-class="{active: locationEqual('/contests', ['', 'leaderboard', 'register'])}" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contests <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/contests/">Contest Homepage</a></li>
          <li><a href="/contests/leaderboard">Leaderboard</a></li>
          <li><a href="/contests/register">Registration</a></li>
          <!-- <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li> -->
        </ul>
      </li>
      <li ng-class="{active: locationEqual('/faq')}"><a href="/faq">FAQ</a></li>
    </ul>

    <!-- Not Authenticated Navbar -->
    <div class="navbar-right navbar-form" role="form" data-ng-hide="global.authenticated">
      <div class="form-group" ng-class="{'has-error': loginData.failure.email}">
        <input type="text" ng-model="loginData.email" placeholder="Email" class="form-control">
      </div>
      <div class="form-group" ng-class="{'has-error': loginData.failure.password}">
        <input type="password" ng-model="loginData.password" placeholder="Password" class="form-control">
      </div>
      <button ng-click="login()" class="btn btn-info">Login</button>
      <a href="/signup"><button ng-click="" class="btn btn-success">Sign up</button></a>
    </div>

    <!-- Authenticated Navbar -->
    <div class="navbar-right" data-ng-show="global.authenticated">
      <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{global.user.username}} <b style="margin-left: 5px" class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/me"><span class="glyphicon glyphicon-user"> Profile</span></a></li>
          <li><a ng-href="{{global.user.team.id}}"><span class="glyphicon glyphicon-heart"> Team</span></a></li>
          <li><a ng-href="/user/me/settings"><span class="glyphicon glyphicon-cog"> Settings</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="logout()"><span class="glyphicon glyphicon-off"> Signout</span></a></li>
        </ul>
      </li>
      </ul>
    </div>

  </div><!--/.navbar-collapse -->
</div>